// :root {
//   --color1: #fff;
//   --color2: #48a651;
//   --color3: black;
//   --color4: #f5f5f5;
//   --color5: #57c58a;
//   --color6: #98c900;
//   --color7: #adf0b4;
//   --color8: #ffa500;
//   --color9: grey;
//   --color10: green;
//   --color11: rgba(102, 235, 115, 1);
//   --color12: rgba(63, 176, 136, 1);
//   --color13: rgba(74, 248, 185, 1);
//   --color14: lightgreen;
//   --color15: #c3f1c7;
//   --color16: #d9d9d9;
//   --color17: #3a703f;
//   --color18: #808080;
//   --color19: #80808048;
//   --color20: #afafaf85;
//   --color21: rgba(0, 0, 0, 0.25);
//   --color22: #b9fbc0;
//   --color23: #6666;
// }

[data-theme="light"] {
  --color1: #fff;
  --color2: #48a651;
  --color3: black;
  --color4: #f5f5f5;
  --color5: #57c58a;
  --color6: #98c900;
  --color7: #adf0b4;
  --color8: #ffa500;
  --color9: grey;
  --color10: green;
  --color11: rgba(102, 235, 115, 1);
  --color12: rgba(63, 176, 136, 1);
  --color13: rgba(74, 248, 185, 1);
  --color14: lightgreen;
  --color15: #c3f1c7;
  --color16: #d9d9d9;
  --color17: #3a703f;
  --color18: #808080;
  --color19: #80808048;
  --color20: #afafaf85;
  --color21: rgba(0, 0, 0, 0.25);
  --color22: #b9fbc0;
  --color23: #6666;
}

[data-theme="dark"] {
  --color1: #181a1b;
  --color2: #48a651;
  --color3: #fff;
  --color4: #1e2021;
  --color5: #57c58a;
  --color6: #98c900;
  --color7: #adf0b4;
  --color8: #ffa500;
  --color9: grey;
  --color10: green;
  --color11: rgba(102, 235, 115, 1);
  --color12: rgba(63, 176, 136, 1);
  --color13: rgba(74, 248, 185, 1);
  --color14: lightgreen;
  --color15: #c3f1c7;
  --color16: #d9d9d9;
  --color17: #3a703f;
  --color18: #808080;
  --color19: #80808048;
  --color20: #afafaf85;
  --color21: rgba(0, 0, 0, 0.25);
  --color22: #b9fbc0;
  --color23: #6666;
}
