@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
.ul {
  list-style: none;
  li {
    font-family: "Kalam", cursive;
    font-size: 50px;
    font-weight: 900;
  }
}
