@import url("https://fonts.googleapis.com/css2?family=K2D:wght@700&display=swap");
@import "../../../../../../darkMode/darkModeColor.scss";
.ul {
  list-style: none;
  user-select: none;
  li {
    font-family: "K2D", cursive;
    font-size: 50px;
    font-weight: 900;
    color: var(--color3);
  }
}
