@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.logo {
  display: flex;
  align-items: center;
  width: 455px;
  height: 121px;
  img {
    width: 100px;
    height: 100px;
  }
  h1 {
    height: 121px;
    color: black;
    font-weight: 400;
    font-size: 100px;
    font-family: "Kalam", cursive;
  }
}
