.main {
  padding-top: 120px;
  overflow-x: hidden;

  .mainAboutUsColorPalette {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 70px 69px 0px 92px;
  }
}
@media (min-width: 1424px) {
  .mainAboutUsColorPalette {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 0px 0px 0px;
  }
}
