.main {
  padding-top: 120px;
  overflow-x: hidden;
  height: 100%;

  .mainAboutUsColorPalette {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 70px 69px 0px 92px;
  }
}
@media (min-width: 1424px) {
  .mainAboutUsColorPalette {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 430px) {
  .main {
    padding: 75px 0px;
    overflow-y: scroll;

    .mainAboutUsColorPalette {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;
      // display: none;
      // justify-content: space-between;
      // gap: 10px;
      // padding: 70px 69px 0px 92px;
    }
  }
}
