@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import "../../../../darkMode/darkModeColor.scss";
.header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    user-select: none;
    color: var(--color3);
    text-transform: uppercase;
  }
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  transform: scale(0.9);
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #48a651;
    border: 3px solid white;
    box-shadow: 0px 4px 16px #c3f1c7;
  }
  .start {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -140px;
    left: -150px;
    p {
      font-size: 26px;
      color: #fff;
      text-transform: uppercase;
      user-select: none;
    }
  }

  .finish {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 130px;
    left: 150px;
    p {
      font-size: 26px;
      color: #fff;
      text-transform: uppercase;
      user-select: none;
    }
  }
  .finishActive {
    animation: finish s linear;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .itemBackground {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 55px;
        height: 55px;
        user-select: none;
      }
    }
    p {
      position: absolute;
      bottom: -20px;
      color: var(--color3);
      text-transform: uppercase;
      user-select: none;
    }
  }
}
.backgroundLine {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../../assets/svg/Vector1.svg");
}

.itemIdea {
  position: absolute;
  top: -140px;
}
.itemIdeaActive {
  animation: idea 1s ease-in-out;
}
.itemClassroom {
  position: absolute;
  top: -140px;
  left: 150px;
}
.itemClassroomActive {
  animation: classroom 1s ease-in-out;
}
.itemCourse {
  position: absolute;
  top: -140px;
  left: 320px;
}
.itemCourseActive {
  animation: course 1s ease-in-out;
}
.itemMembers {
  position: absolute;
  top: 130px;
  left: -300px;
}
.itemMembersActive {
  animation: members 1s ease-in-out;
}
.itemChats {
  position: absolute;
  top: 130px;
  left: -150px;
}
.itemChatsActive {
  animation: chat 1s ease-in-out;
}
.itemCalendar {
  position: absolute;
  top: 130px;
  left: 20px;
}
.itemCalendarActive {
  animation: calendar 1s ease-in-out;
}
@media (min-width: 1440px) {
  .body {
    margin-top: 20px;
    transform: scale(1.1);
    position: relative;
    z-index: -1;
  }
}

@keyframes idea {
  0% {
    top: -140px;
    left: -250px;
  }
  100% {
    top: -140px;
    left: 0;
  }
}
@keyframes classroom {
  0% {
    top: -140px;
    left: -300px;
  }

  100% {
    top: -140px;
  }
}
@keyframes course {
  0% {
    top: -140px;
    left: -300px;
  }
  100% {
    top: -140px;
  }
}

@keyframes members {
  0% {
    top: 130px;
    left: 150px;
  }

  100% {
    top: 130px;
    left: -300px;
  }
}
@keyframes chat {
  0% {
    top: 140px;
    left: 200px;
  }

  100% {
    top: 130px;
    left: -150px;
  }
}

@keyframes calendar {
  0% {
    top: 140px;
    left: 200px;
  }

  100% {
    top: 130px;
    left: 20px;
  }
}

@media (max-width: 430px) {
  .main {
    width: 100%;
    height: 100%;
    // display: none;
  }
  .header {
    // display: none;
    margin-top: 20px;
    // justify-content: center;
    // align-items: center;
    h1 {
      user-select: none;
      color: var(--color3);
      text-transform: uppercase;
    }
  }
  .body {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    // transform: scale(0.9);
    .circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #48a651;
      border: 3px solid white;
      box-shadow: 0px 4px 16px #c3f1c7;
    }
    .start {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
      p {
        font-size: 26px;
        color: #fff;
        text-transform: uppercase;
        user-select: none;
      }
    }

    .finish {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
      p {
        font-size: 26px;
        color: #fff;
        text-transform: uppercase;
        user-select: none;
      }
    }
    .finishActive {
      animation: none;
    }
    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: static;
      // position: relative;
      .itemBackground {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 55px;
          height: 55px;
          user-select: none;
        }
      }
      p {
        position: static;
        bottom: -20px;
        color: var(--color3);
        text-transform: uppercase;
        user-select: none;
      }
    }
  }
  .backgroundLine {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    gap: 20px;
    // position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../../assets/svg/Vector\ 2.svg");
  }

  .itemIdea {
    position: static;
    top: -300px;
    left: 250px;
  }
  .itemIdeaActive {
    animation: none;
  }
  .itemClassroom {
    position: static;
  }
  .itemClassroomActive {
    animation: none;
  }
  .itemCourse {
    position: static;
  }
  .itemCourseActive {
    animation: none;
  }
  .itemMembers {
    position: static;
  }
  .itemMembersActive {
    animation: none;
  }
  .itemChats {
    position: static;
  }
  .itemChatsActive {
    animation: none;
  }
  .itemCalendar {
    position: absolute;
    top: 130px;
    left: 20px;
  }
  .itemCalendarActive {
    animation: none;
  }
  @media (min-width: 1440px) {
    .body {
      margin-top: 20px;
      transform: scale(1.1);
      position: relative;
      z-index: -1;
    }
  }

  @keyframes idea {
    0% {
      top: -140px;
      left: -250px;
    }
    100% {
      top: -140px;
      left: 0;
    }
  }
  @keyframes classroom {
    0% {
      top: -140px;
      left: -300px;
    }

    100% {
      top: -140px;
    }
  }
  @keyframes course {
    0% {
      top: -140px;
      left: -300px;
    }
    100% {
      top: -140px;
    }
  }

  @keyframes members {
    0% {
      top: 130px;
      left: 150px;
    }

    100% {
      top: 130px;
      left: -300px;
    }
  }
  @keyframes chat {
    0% {
      top: 140px;
      left: 200px;
    }

    100% {
      top: 130px;
      left: -150px;
    }
  }

  @keyframes calendar {
    0% {
      top: 140px;
      left: 200px;
    }

    100% {
      top: 130px;
      left: 20px;
    }
  }
}
