@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

.header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-transform: uppercase;
  }
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: scale(0.9);
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #48a651;
    border: 3px solid white;
    box-shadow: 0px 4px 16px #c3f1c7;
  }
  .start {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -140px;
    left: -150px;
    p {
      font-size: 26px;
      color: white;
      text-transform: uppercase;
    }
  }

  .finish {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 130px;
    left: 150px;
    p {
      font-size: 26px;
      color: white;
      text-transform: uppercase;
    }
  }
  .finishActive {
    animation: finish s linear;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .itemBackground {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 55px;
        height: 55px;
      }
    }
    p {
      position: absolute;
      bottom: -20px;
      text-transform: uppercase;
    }
  }
}
.backgroundLine {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../../assets/svg/Vector1.svg");
}

.itemIdea {
  position: absolute;
  top: -140px;
}
.itemIdeaActive {
  animation: idea 1s linear forwards;
}
.itemClassroom {
  position: absolute;
  top: -140px;
  left: 150px;
}
.itemClassroomActive {
  animation: classroom 1s linear forwards;
}
.itemCourse {
  position: absolute;
  top: -140px;
  left: 320px;
}
.itemCourseActive {
  animation: course 1s linear forwards;
}
.itemMembers {
  position: absolute;
  top: 130px;
  left: -300px;
}
.itemMembersActive {
  animation: members 1s linear forwards;
}
.itemChats {
  position: absolute;
  top: 130px;
  left: -150px;
}
.itemChatsActive {
  animation: chat 1s linear forwards;
}
.itemCalendar {
  position: absolute;
  top: 130px;
  left: 20px;
}
.itemCalendarActive {
  animation: calendar 1s linear forwards;
}
@media (min-width: 1440px) {
  .body {
    margin-top: 20px;
    transform: scale(1.1);
  }
}

@keyframes idea {
  0% {
    top: -140px;
    left: -250px;
  }
  100% {
    top: -140px;
    left: 0;
  }
}
@keyframes classroom {
  0% {
    top: -140px;
    left: -300px;
  }

  100% {
    top: -140px;
  }
}
@keyframes course {
  0% {
    top: -140px;
    left: -300px;
  }
  100% {
    top: -140px;
  }
}

@keyframes members {
  0% {
    top: 130px;
    left: 150px;
  }

  100% {
    top: 130px;
    left: -300px;
  }
}
@keyframes chat {
  0% {
    top: 140px;
    left: 200px;
  }

  100% {
    top: 130px;
    left: -150px;
  }
}

@keyframes calendar {
  0% {
    top: 140px;
    left: 200px;
  }

  100% {
    top: 130px;
    left: 20px;
  }
}

// First Template
// @keyframes idea {
//   0% {
//     top: -140px;
//     left: -250px;
//   }
//   100% {
//     top: -140px;
//     left: 0;
//   }
// }
// @keyframes classroom {
//   0% {
//     top: -140px;
//     left: -300px;
//   }

//   100% {
//     top: -140px;
//   }
// }
// @keyframes course {
//   0% {
//     top: -140px;
//     left: -300px;
//   }
//   100% {
//     top: -140px;
//   }
// }

// @keyframes members {
//   0% {
//     top: -140px;
//     left: 200px;
//   }
//   10% {
//     top: -140px;
//     left: 500px;
//   }
//   20% {
//     top: -100px;
//     left: 500px;
//   }
//   30% {
//     top: -60px;
//     left: 500px;
//   }
//   40% {
//     top: -40px;
//     left: 500px;
//   }
//   50% {
//     top: -40px;
//     left: 200px;
//   }
//   60% {
//     top: -40px;
//     left: -650px;
//   }
//   70% {
//     top: 60px;
//     left: -650px;
//   }

//   80% {
//     top: 100px;
//     left: -650px;
//   }
//   90% {
//     top: 130px;
//   }
//   100% {
//     top: 130px;
//     left: -300px;
//   }
// }
// @keyframes chat {
//   0% {
//     top: -140px;
//     left: 200px;
//   }
//   10% {
//     top: -140px;
//     left: 400px;
//   }
//   20% {
//     top: -100px;
//     left: 400px;
//   }
//   30% {
//     top: -60px;
//     left: 400px;
//   }
//   40% {
//     top: -40px;
//     left: 400px;
//   }
//   50% {
//     top: -40px;
//     left: 100px;
//   }
//   60% {
//     top: -40px;
//     left: -750px;
//   }
//   70% {
//     top: 60px;
//     left: -750px;
//   }

//   80% {
//     top: 100px;
//     left: -750px;
//   }
//   90% {
//     top: 130px;
//   }
//   100% {
//     top: 130px;
//     left: -150px;
//   }
// }

// @keyframes calendar {
//   0% {
//     top: -140px;
//     left: 200px;
//   }
//   10% {
//     top: -140px;
//     left: 300px;
//   }
//   20% {
//     top: -100px;
//     left: 300px;
//   }
//   30% {
//     top: -60px;
//     left: 300px;
//   }
//   40% {
//     top: -40px;
//     left: 300px;
//   }
//   50% {
//     top: -40px;
//     left: 100px;
//   }
//   60% {
//     top: -40px;
//     left: -850px;
//   }
//   70% {
//     top: 60px;
//     left: -850px;
//   }

//   80% {
//     top: 100px;
//     left: -850px;
//   }
//   90% {
//     top: 130px;
//   }
//   100% {
//     top: 130px;
//     left: 20px;
//   }
// }
