@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "ABeeZee", sans-serif;
}
body.modal-open {
  overflow: none;
}
