@import "./darkMode/darkModeColor.scss";
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color4);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: green;
}
body.modal-open {
  overflow: hidden;
}
.ant-space-item {
  width: 100%;
}
.css-dev-only-do-not-override-1ae8k9u {
  width: 100%;
  /* background-color: var(--color10); */
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: var(--color10);
  border: 2px solid var(--color10);
  background: transparent;
}
